@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #f8fafc;
  font-size: 16px;
}
.top-section {
  width: 90%;
  max-width: 1100px;
  padding: 30px 0;
  margin: 0 auto;
  border-bottom: 2px solid #e6e7e9;
}
.logo {
  color: #002c5c;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 20px;
}
.counter-section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.counter-card {
  background-color: #fff;
  border: 1px solid #f1f2f4;
  border-radius: 8px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.counter-card span {
  font-size: 0.875rem;
  color: #323b49;
  font-weight: 500;
}
.count {
  font-size: 1.5rem;
  font-weight: 700;
}
#total-job-count {
  color: #002b70;
}
#total-interview-count {
  color: #10b981;
}
#total-reject-count {
  color: #ef4444;
}
.menu-heading-section {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #002c5c;
}
.jobs-count-of {
  font-size: 1rem;
  font-weight: 500;
  color: #64748b;
}
.menu-section {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto 16px;
}
.menu-items {
  list-style: none;
  display: flex;
}
.menu-item {
  background-color: #fff;
  color: #64748b;
  border: 1px solid #f1f2f4;
  width: 80px;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
}
.menu-active {
  background-color: #3b82f6;
  color: #fff;
  cursor: default;
}
