@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #f8fafc;
  font-size: 16px;
  overflow: scroll;
}

.top-section {
  width: 95%;
  max-width: 1100px;
  padding: 30px 0;
  margin: 0 auto;
  border-bottom: 2px solid #e6e7e9;
}

.logo {
  color: #002c5c;
  font-size: 2rem;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 20px;
}

.counter-section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.counter-card {
  background-color: #fff;
  border: 1px solid #f1f2f4;
  border-radius: 8px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.counter-card span {
  font-size: 0.875rem;
  color: #323b49;
  font-weight: 500;
}

.count {
  font-size: 1.5rem;
  font-weight: 700;
}

#total-job-count {
  color: #002b70;
}

#total-interview-count {
  color: #10b981;
}

#total-reject-count {
  color: #ef4444;
}

.menu-heading-section {
  width: 95%;
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #002c5c;
}

.jobs-count-of {
  font-size: 1rem;
  font-weight: 500;
  color: #64748b;
}

.menu-section {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto 16px;
}

.menu-items {
  list-style: none;
  display: flex;
}

.menu-item {
  background-color: #fff;
  color: #64748b;
  border: 1px solid #f1f2f4;
  width: 80px;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 8px 0;
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.menu-active {
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  color: #fff;
  cursor: default;
}

.card-section {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

.job-card {
  background-color: #fff;
  border: 1px solid #f1f2f4;
  border-left: 5px solid #f1f2f4;
  border-radius: 12px;
  padding: 24px;
  position: relative;
  margin-bottom: 16px;
  opacity: 0;
  transform: translateX(-8px);
  animation: slideIn 0.4s ease-out forwards;
  transition: 0.2s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.job-card-interview {
  border-left: 5px solid #10b981;
}

.job-card-rejected {
  border-left: 5px solid #ef4444;
}

.company-name {
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 600;
  color: #002c5c;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.job-post {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
  color: #64748b;
  text-transform: capitalize;
}

.job-details {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  color: #64748b;
  margin: 20px 0;
  text-transform: capitalize;
}

.status {
  background-color: #eef4ff;
  color: #002c5c;
  font-weight: 500;
}

.btn,
.status {
  line-height: 1;
  padding: 10.5px 12px 9px 12px;
  border: 0;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid transparent;
  transition: 0.2s;
}

.status-green {
  background-color: #fff;
  color: #10b981;
  font-weight: 600;
  border: 1px solid #10b981;
}

.status-red {
  background-color: #fff;
  color: #ef4444;
  font-weight: 600;
  border: 1px solid #ef4444;
}

.job-description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  color: #323b49;
  margin: 8px 0 20px;
}

.button-container {
  display: flex;
  gap: 8px;
}

.btn-hover-green {
  background-color: #fff;
  color: #10b981;
  font-weight: 600;
  border: 1px solid #10b981;
  cursor: pointer;
}

.btn-hover-green:hover {
  background: #10b981;
  color: #fff;
}

.btn-hover-red {
  background-color: #fff;
  color: #ef4444;
  font-weight: 600;
  border: 1px solid #ef4444;
  cursor: pointer;
}

.btn-hover-red:hover {
  background: #ef4444;
  color: #fff;
}

.delete-card {
  background-color: #fff;
  width: 42px;
  height: 42px;
  border: 1px solid #f1f2f4;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.2s linear;
}

.delete-card:hover {
  background-color: #f1f2f4;
}

.delete-card img {
  width: 22px;
}

.no-job-card {
  background-color: #fff;
  padding: 111px 24px;
  text-align: center;
}

.no-job-card h2 {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
  color: #002c5c;
}

.no-job-card p {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
  color: #64748b;
}

@media screen and (max-width: 486px) {
  .counter-section {
    flex-direction: column;
  }
  .logo {
    font-size: 1.5rem;
  }
  .job-details {
    margin: 10px 0;
  }
}
